.mn-btn {
  background-color: #f0f3f4;
  border: 2px solid rgba($color: #000000, $alpha: 0.2);
  padding: 8px;
  border-radius: 10px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
